<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" href="/">NodeDemo</a>
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <% if(userIsAuthenticated){ %>
        <li><a href="/account">Account</a></li>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/register">Register</a></li>  
      <% } %>
    </ul>
  </div>
</div>