<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bubble Pop</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/bootstrap-responsive.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/jquery-1.9.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <% if(typeof message != "undefined" && message.error != "undefined"){ %>
        <%= message %>
        <% } %>
        <%- body -%>
      </div>
    </div>
  </body>
</html>