<% layout('layout') -%>
<form action="/users" method="post">
  <div>
      <label>First Name:</label>
      <input type="text" name="firstName"/>
  </div>
  <div>
      <label>Last Name:</label>
      <input type="text" name="lastName"/>
  </div>
  <div>
      <label>Email:</label>
      <input type="email" name="email"/>
  </div>
  <div>
      <label>Username:</label>
      <input type="text" name="username"/>
  </div>
  <div>
      <label>Password:</label>
      <input type="password" name="password"/>
  </div>
  <div>
      <label>Retype Password:</label>
      <input type="password" name="password_confirmation"/>
  </div>
  <div>
      <button class="btn">Register</button>
  </div>
</form>