<% layout('layout') -%>
<form action="/users" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <label>Retype Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <button class="btn">Register</button>
    </div>
</form>