Hi there,<br/><br/>

Someone requested a link to change your password:<br/><br/>

<a href="<%= urlBase + "?username=" + username + "&token=" + token %>">Change my password</a><br/><br/>

If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.<br/><br/>

Thanks!