<% layout(layoutPath) -%>
<form action="/register" method="post">
  <fieldset>
    <label>First Name:</label>
    <input type="text" name="firstName" value="<%= user.firstName || "" %>"/>
    <label>Last Name:</label>
    <input type="text" name="lastName" value="<%= user.lastName || "" %>"/>
    <label>Email:</label>
    <input type="email" name="email" value="<%= user.email || "" %>"/>
    <label>Username:</label>
    <input type="text" name="username" value="<%= user.username || "" %>"/>
    <label>Password:</label>
    <input type="password" name="password"/>
    <label>Retype Password:</label>
    <input type="password" name="passwordConfirmation"/><br/>
    <button class="btn">Register</button>
  </fieldset>
</form>
