<% layout(layoutPath) -%>
<h4>Create new password:</h4>
<form action="/password_reset" method="post">
  <input type="hidden" name="username" value="<%= username %>" />
  <input type="hidden" name="token" value="<%= token %>" />
  <fieldset>
    <label>New Password:</label>
    <input type="password" name="password" />
    <label>Confirm New Password:</label>
    <input type="password" name="passwordConfirmation" /><br/>
    <button class="btn">Reset Password</button>
  </fieldset>
</form>
