<% layout(layoutPath) -%>
<h4>Reset Password</h4>
<form action="/reset_password" method="post">
  <fieldset>
    <label>Email:</label>
    <input type="email" name="email" /><br/>
    <button class="btn">Reset Password</button>
  </fieldset>
</form>
